/*----------fonts*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto&display=swap');

.headings-font {
    font-family: 'MedievalSharp', cursive;
}


.text-font {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Colours*/

.green {
    background-color: rgb(0, 94, 0);
    border: black 1px solid;
}

.brown {
    background-color: rgb(117, 65, 21);
    border: black 1px solid;
}

.white {
    background-color: rgb(255, 255, 255);
    border: black 1px solid;
}

.text-white {
    color: white;
}

/*----------basic styling*/

.text-center {
    text-align: center;
}